.button {
  font: inherit;
  background: #313f8e;
  border: 1px solid #313f8e;
  color: white;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: #192755;
  border-color: #192755;
}
