.date {
    width: 15%;
    text-align: center;
    background-color: #ffffff;
}

.label {
    width: 40%;
    background-color: #ffffff;
}

.credit {
    width: 20%;
    text-align: center;
    background-color: #ffffff;
}

.debit {
    width: 20%;
    text-align: center;
    background-color: #ffffff;
}
.action{
    width: 5%;
    border: thin solid white;
}