.accountLinesHeader-th{
    font-family: monospace;
    border: thin solid #000000;
    background-color: #313f8e;
    width:80%;
    padding: 5px;
    color: white;
}

.date {
    width: 15%;
    border: thin solid #000000;
}

.label {
    width: 40%;
    border: thin solid #000000;
}

.credit {
    width: 20%;
    border: thin solid #000000;
}

.debit {
    width: 20%;
    border: thin solid #000000;
}
.action{
    width: 5%;
    border: thin solid white;
    background-color: white;
}